* {
    margin: 0;
    padding: 0;
}

.conatiner {
    width: 300px;
    height: 300px;
}

.box {
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: aqua;
    animation: owt;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    animation-direction: alternate;
}

@keyframes owt {
    0% {
        left: 10%;
        top: 10%;
        background-color: blue;
    }
    25% {
        left: 80%;
        top: 10%;
        background-color: chartreuse;
    }
    50% {
        left: 80%;
        top: 80%;
    }
    75% {
        left: 10%;
        top: 80%;
    }
    100% {
        left: 10%;
        top: 10%;
    }
}